/*
Colors	Paper Source Colorscope: Black, Gravel
Fonts	Google Fonts: Roboto, Sacramento
*/

* {
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	background-color: rgb(34,31,32);
	background-image: url(../images/grid.png);
	background-blend-mode: overlay;
	line-height: 2;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: rgb(89,88,77);
}

header {
	padding-top: 10px;
	padding-bottom: 10px;
	color: rgb(255,255,255);
}

header h1 {
	font-family: 'Sacramento', cursive;
	font-size: 310%;
}

.section {
	padding-right: 40px;
	padding-left: 40px;
}

.container {
	max-width: 940px;
	margin: 0 auto;
	overflow: hidden;
}

.content-area {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgb(255,255,255);
}

.main-area {
	float: left;
	width: 66%;
	padding-right: 40px;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.photog {
	float: right;
	margin-bottom: 20px;
	margin-left: 20px;
	border-radius: 50%;
}

.sidebar h2, .sidebar h3 {
	margin-bottom: 5px;
	font-weight: bold;
	text-transform: uppercase;
	color: rgb(34,31,32);
}

.sidebar h2 {
	font-size: 90%;
}

.sidebar h3 {
	font-size: 120%;
	letter-spacing: 1px;
}

.sidebar p {
	margin-bottom: 10px;
}

footer {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 90%;
	text-transform: uppercase;
	text-align: center;
	color: rgb(255,255,255);
}

@media screen and (max-width: 420px) {
	header h1 {
		font-size: 196%;
		text-align: center;
	}
}

@media screen and (max-width: 700px) {
	.section {
		padding-right: 20px;
		padding-left: 20px;
	}
}

@media screen and (min-width: 1300px) {
	body {
		font-size: 17px;
	}

	.container {
		max-width: 1200px;
	}

	.push-down-sm {
		margin-bottom: 10px;
	}
}

/* Lightbox Styles */
.thumbnails {
	margin-right: -15px;
}

.thumbnails a img {
	float: left;
	width: 25%;
	margin-bottom: 15px;
	padding-right: 15px;
}

.thumbnails img {
	display: block;
	transition: all 0.2s ease-in-out;
}

.thumbnails:hover img {
	opacity: 0.5;
	transform: scale(0.9);
}

.thumbnails img:hover {
	opacity: 1;
	transform: scale(1);
}

/* Grid System */
.row {
	margin-right: -20px;
}

.col {
	float: left;
	width: 100%;
	padding-right: 20px;
}

.col-xs-11 {width: 91.662%;}
.col-xs-10 {width: 83.332%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.662%;}
.col-xs-7 {width: 58.332%;}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.662%;}
.col-xs-4 {width: 33.332%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.662%;}
.col-xs-1 {width: 8.332%;}

@media screen and (min-width: 768px) {
	.row {
		margin-right: -40px;
	}

	.col {
		padding-right: 40px;
	}

	.col-sm-11 {width: 91.662%;}
	.col-sm-10 {width: 83.332%;}
	.col-sm-9 {width: 75%;}
	.col-sm-8 {width: 66.662%;}
	.col-sm-7 {width: 58.332%;}
	.col-sm-6 {width: 50%;}
	.col-sm-5 {width: 41.662%;}
	.col-sm-4 {width: 33.332%;}
	.col-sm-3 {width: 25%;}
	.col-sm-2 {width: 16.662%;}
	.col-sm-1 {width: 8.332%;}
}

@media screen and (min-width: 1024px) {
	.col-md-11 {width: 91.662%;}
	.col-md-10 {width: 83.332%;}
	.col-md-9 {width: 75%;}
	.col-md-8 {width: 66.662%;}
	.col-md-7 {width: 58.332%;}
	.col-md-6 {width: 50%;}
	.col-md-5 {width: 41.662%;}
	.col-md-4 {width: 33.332%;}
	.col-md-3 {width: 25%;}
	.col-md-2 {width: 16.662%;}
	.col-md-1 {width: 8.332%;}
}

@media screen and (min-width: 1280px) {
	.col-lg-11 {width: 91.662%;}
	.col-lg-10 {width: 83.332%;}
	.col-lg-9 {width: 75%;}
	.col-lg-8 {width: 66.662%;}
	.col-lg-7 {width: 58.332%;}
	.col-lg-6 {width: 50%;}
	.col-lg-5 {width: 41.662%;}
	.col-lg-4 {width: 33.332%;}
	.col-lg-3 {width: 25%;}
	.col-lg-2 {width: 16.662%;}
	.col-lg-1 {width: 8.332%;}
}

/* Clearfix Method */
.fix {
	clear: both;
}

.row:before,
.row:after,
.group:before,
.group:after {
	content: "";
	display: table;
}

.row:after,
.group:after {
	clear: both;
}

.row,
.group {
	zoom: 1;
}
